; Git Configuration File

[user]
	name = Alex Vear
	email = axvr@users.noreply.github.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[alias]
	logtree = log --graph --oneline --all
	authors = shortlog -nes
	stats = !git-stats ; TODO: Replace this
