[submodule "vim/.vim/pack/core/start/ledger"]
	path = vim/.vim/pack/core/start/ledger
	url = https://github.com/ledger/vim-ledger
[submodule "vim/.vim/pack/core/start/org"]
	path = vim/.vim/pack/core/start/org
	url = https://github.com/axvr/org.vim
[submodule "vim/.vim/pack/core/opt/commentary"]
	path = vim/.vim/pack/core/opt/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/.vim/pack/core/opt/lion"]
	path = vim/.vim/pack/core/opt/lion
	url = https://github.com/tommcdo/vim-lion
[submodule "vim/.vim/pack/core/opt/cool"]
	path = vim/.vim/pack/core/opt/cool
	url = https://github.com/romainl/vim-cool
[submodule "vim/.vim/pack/core/start/photon"]
	path = vim/.vim/pack/core/start/photon
	url = https://github.com/axvr/photon.vim
[submodule "vim/.vim/pack/core/start/waikiki"]
	path = vim/.vim/pack/core/start/waikiki
	url = https://github.com/fcpg/vim-waikiki
[submodule "vim/.vim/pack/core/opt/vim-cs"]
	path = vim/.vim/pack/core/opt/vim-cs
	url = https://github.com/nickspoons/vim-cs
[submodule "vim/.vim/pack/core/opt/omnisharp"]
	path = vim/.vim/pack/core/opt/omnisharp
	url = https://github.com/OmniSharp/omnisharp-vim
