# Vim config
**/.vim/*
!**/.vim/vimrc
!**/.vim/config/
!**/.vim/ftplugin/
!**/.vim/ftdetect/
!**/.vim/plugin/

# Emacs config
**/.emacs.d/**
!**/.emacs.d/init.el

# Just in case
*.dat
*.data
.bash_history
.lesshst
*.swp
*.kdbx
*.kdb
*.pass
*wallet*
*.asc
*.gpg
*.pgp
*.pub
*.bin
