[submodule "neovim/.config/nvim/pack/core/start/cool"]
	path = neovim/.config/nvim/pack/core/start/cool
	url = https://github.com/romainl/vim-cool
[submodule "neovim/.config/nvim/pack/core/opt/qf"]
	path = neovim/.config/nvim/pack/core/opt/qf
	url = https://github.com/romainl/vim-qf
[submodule "neovim/.config/nvim/pack/core/opt/traces"]
	path = neovim/.config/nvim/pack/core/opt/traces
	url = https://github.com/markonm/traces.vim
[submodule "neovim/.config/nvim/pack/core/start/commentary"]
	path = neovim/.config/nvim/pack/core/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "neovim/.config/nvim/pack/core/opt/apart"]
	path = neovim/.config/nvim/pack/core/opt/apart
	url = https://github.com/axvr/apart.vim
[submodule "neovim/.config/nvim/pack/core/start/raider"]
	path = neovim/.config/nvim/pack/core/start/raider
	url = https://github.com/axvr/raider.vim
[submodule "neovim/.config/nvim/pack/core/opt/dirvish"]
	path = neovim/.config/nvim/pack/core/opt/dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "neovim/.config/nvim/pack/lang/start/ledger"]
	path = neovim/.config/nvim/pack/lang/start/ledger
	url = https://github.com/ledger/vim-ledger
[submodule "neovim/.config/nvim/pack/lang/opt/colortemplate"]
	path = neovim/.config/nvim/pack/lang/opt/colortemplate
	url = https://github.com/lifepillar/vim-colortemplate
[submodule "neovim/.config/nvim/pack/lang/opt/conjure"]
	path = neovim/.config/nvim/pack/lang/opt/conjure
	url = https://github.com/Olical/conjure
[submodule "neovim/.config/nvim/pack/lang/start/terraform"]
	path = neovim/.config/nvim/pack/lang/start/terraform
	url = https://github.com/hashivim/vim-terraform
[submodule "neovim/.config/nvim/pack/lang/opt/ionide"]
	path = neovim/.config/nvim/pack/lang/opt/ionide
	url = https://github.com/ionide/Ionide-vim
[submodule "neovim/.config/nvim/pack/lang/start/ical"]
	path = neovim/.config/nvim/pack/lang/start/ical
	url = https://github.com/axvr/ical.vim
[submodule "neovim/.config/nvim/pack/lang/start/org"]
	path = neovim/.config/nvim/pack/lang/start/org
	url = https://github.com/axvr/org.vim
[submodule "neovim/.config/nvim/pack/core/opt/fugitive"]
	path = neovim/.config/nvim/pack/core/opt/fugitive
	url = https://github.com/tpope/vim-fugitive.git
