*                           text=auto final-newline eol=lf trim-trailing-whitespace
common-lisp/**              linguist-language=lisp
git/.config/git/attributes  linguist-language=gitattributes
git/.config/git/config      linguist-language=gitconfig
