[submodule "vim/.vim/pack/core/start/photon"]
	path = vim/.vim/pack/core/start/photon
	url = https://git.sr.ht/~axvr/photon.vim
[submodule "vim/.vim/pack/core/start/org"]
	path = vim/.vim/pack/core/start/org
	url = https://git.sr.ht/~axvr/org.vim
[submodule "vim/.vim/pack/core/start/ledger"]
	path = vim/.vim/pack/core/start/ledger
	url = https://github.com/ledger/vim-ledger
[submodule "vim/.vim/pack/core/start/ascribe"]
	path = vim/.vim/pack/core/start/ascribe
	url = https://git.sr.ht/~axvr/ascribe.vim
[submodule "vim/.vim/pack/core/opt/commentary"]
	path = vim/.vim/pack/core/opt/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/.vim/pack/core/opt/lion"]
	path = vim/.vim/pack/core/opt/lion
	url = https://github.com/tommcdo/vim-lion
[submodule "vim/.vim/pack/core/opt/cool"]
	path = vim/.vim/pack/core/opt/cool
	url = https://github.com/romainl/vim-cool
[submodule "vim/.vim/pack/core/opt/omnisharp"]
	path = vim/.vim/pack/core/opt/omnisharp
	url = https://github.com/OmniSharp/omnisharp-vim
