{:aliases
 {:repl/socket {#_ "Start a Socket REPL on port 5555."
                :jvm-opts ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}
  :repl/prepl  {#_ "Start a Socket pREPL on port 6666."
                :jvm-opts ["-Dclojure.server.repl={:port,6666,:accept,clojure.core.server/io-prepl}"]}
  :repl/nrepl  {#_ "Start an nREPL server."
                :extra-deps {nrepl/nrepl       {:mvn/version "RELEASE"}
                             cider/cider-nrepl {:mvn/version "RELEASE"}}
                :main-opts  ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]" "--interactive"]}
  :clj-kondo   {#_ "Run clj-kondo linter."
                :extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                :main-opts ["-m" "clj-kondo.main"]}
  :clj-kondo/import-configs {#_ "Import clj-kondo configs from libraries."
                           :extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                           :main-opts ["-m" "clj-kondo.main" "--lint" "$(clojure -Spath)" "--dependencies" "--parallel" "--copy-configs"]}}}
