;;;; Clojure deps.edn global config.
;;;; ~/.clojure/deps.edn

{:aliases
 {;; Check for outdated dependencies.  <https://github.com/liquidz/antq>
  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}
                          org.slf4j/slf4j-nop     {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}

  ;; Run Clj-kondo linter.  <https://github.com/clj-kondo/clj-kondo>
  :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
              :main-opts ["-m" "clj-kondo.main"]}

  :clj-kondo-copy-configs {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                           :main-opts ["-m" "clj-kondo.main" "--lint" "$(clojure -Spath)" "--dependencies" "--parallel" "--copy-configs"]}

  ;; Start a Socket REPL on port 5555.
  :socket {:jvm-opts ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}

  ;; Start a Socket pREPL on port 6666.
  :prepl {:jvm-opts ["-Dclojure.server.repl={:port,6666,:accept,clojure.core.server/io-prepl}"]}

  ;; Generate dependency graph image.  <https://github.com/clojure/tools.deps.graph>
  :deps-graph {:replace-deps {org.clojure/tools.deps.graph {:mvn/version "RELEASE"}}
               :exec-fn clojure.tools.deps.graph/graph
               :exec-args {:output "deps.png"}}

  ;; Useful deps for performance testing and tuning.
  ;;   - Benchmarking: <https://github.com/hugoduncan/criterium>
  ;;     - criterium.core/bench
  ;;     - criterium.core/quick-bench
  ;;   - Decompilation: <https://github.com/clojure-goes-fast/clj-java-decompiler>
  ;;     - clj-java-decompiler.core/decompile
  ;;     - clj-java-decompiler.core/disassemble
  :perf {:extra-deps {criterium/criterium {:mvn/version "RELEASE"}
                      com.clojure-goes-fast/clj-java-decompiler {:mvn/version "RELEASE"}}}}}
